:root {
    --main-color: #2789D9;
    --light-shade: #F6F7F2;
    --light-accent: #6596B6;
    --dark-accent: #B33E5A;
    --darke-shade: #1F1521;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--light-shade);
    color: var(--main-color);
}